<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="AngularJS" />
                <rule name="Proxy">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3324/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
